{% extends 'base_public.html' %}
{% block title %}Connexion{% endblock %}
{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2 class="text-center mb-4">Connexion</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
        </form>
        <p class="link">
      Pas encore inscrit ? <a href="{% url 'inscription' %}">S'inscrire</a>
    </p>
    </div>
</div>
{% endblock %}